@use 'base/mixins' as m;
@use 'base/variables' as v;

.site-footer{
    
    background-color: v.$rosa;
    p{
        text-align: center;
        color: v.$blanco;
        font-size: 2.4rem;
        padding: 1rem;
        margin: 0;
    }
}